.container > * {
    opacity: 0;
    animation: gen 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.container > *:nth-child(1) {
    animation-delay: 1s;
}

.container > *:nth-child(2) {
    animation-delay: 1.2s;
}

.container > *:nth-child(3) {
    animation-delay: 1.4s;
}

.container > *:nth-child(4) {
    animation-delay: 1.6s;
}

.container > *:nth-child(5) {
    animation-delay: 1.8s;
}

.container > *:nth-child(6) {
    animation-delay: 2s;
}

.container > *:nth-child(7) {
    animation-delay: 2.2s;
}

/* I've used this same keyframe in at least four projects */
@keyframes gen {
    0% {
        transform: translateY(60px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.content-bg {
    position: fixed;
    top: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/bgblur.png");
}

.container {
    transition: margin-top 300ms;
    background: inherit;
    z-index: -1;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
}

@media only screen and (max-width: 1650px), (max-height: 800px) {
    .container:not(.no-mid) {
        margin-top: 5%;
    }
    .no-mid {
        margin-top: 0;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        margin-top: 15%;
    }
}

.box:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.25);
    filter: blur(5px);
}

.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 3rem;
    padding: 12px;
    text-align: center;
    width: 300px;
    margin: 20px;
    min-height: 25vh;
    flex-basis: calc(25% - 40px);
    position: relative;
    z-index: 1;
    background: inherit;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    transition: box-shadow 500ms, backdrop-filter 500ms;
}

.bsm {
    min-height: fit-content;
    border-radius: 2rem;
}

.box:hover {
    box-shadow: inset 0 0 33px #505050, 0 0 24px #505050;
    backdrop-filter: blur(15px);
}

.clk:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #ed1c24;
}

.box h1 {
    line-height: 2rem;
}

.clicknoti {
    margin: 0 0 10px;
    line-height: 0;
    font-size: 0.8rem;
    font-weight: 600;
}

@media only screen and (max-width: 1160px) {
    .box {
        flex-basis: 75%;
    }
}

.small {
    font-size: 16px;
    font-weight: 600;
}

a:not(.internallink) {
    text-decoration: none;
    color: inherit;
}

.internallink {
    color: white;
}

.bog {
    position: absolute;
    z-index: -1;
    filter: blur(1px);
    transition: filter 500ms;
}

.inc {
    filter: blur(3px);
}
