.container > * {
    opacity: 0;
    animation: gen 2s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}

.container > *:nth-child(1) {
    animation-delay: 1s;
}

.container > *:nth-child(2) {
    animation-delay: 1.2s;
}

.container > *:nth-child(3) {
    animation-delay: 1.4s;
}

/* I've used this same keyframe in at least four projects */
@keyframes gen {
    0% {
        transform: translateY(60px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.content-bg {
    position: fixed;
    top: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    /* Load the background here and in the HTML so frosted glass effect still works due to CSS inheritance */
    background-image: url("/bgblur.png");
}

.container {
    background: inherit;
    z-index: -1;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.25);
    filter: blur(10px);
}

.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    padding: 20px;
    text-align: center;
    width: 300px;
    margin: 20px;
    min-height: 25vh;
    flex-basis: calc(25% - 40px);
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}

.box h1 {
    line-height: 2rem;
}

@media only screen and (max-width: 1160px) {
    .box {
        flex-basis: 75%;
    }
}
