#navbar {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    width: 30%;
    height: 75px;
    margin: auto;
    background-color: #7f7f7f;
    background-image: url("/holowfv2.2c.png");
    background-position: left 10px center;
    background-size: 50px auto;
    background-repeat: no-repeat;
}
