#navbar {
    z-index: 10;
    position: fixed;
    align-items: center;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    width: 30%;
    height: 75px;
    margin: auto;
    background-color: #292929;
}

#imagebuttons,
#mobileheader {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#mobileheader {
    display: none;
}

#imagebuttons img:hover,
#mobileheader img:hover {
    cursor: pointer;
    background-color: rgba(70, 70, 70, 0.9);
}

@media only screen and (max-width: 1160px) {
    #imagebuttons {
        display: none;
    }
    #mobileheader {
        display: flex;
    }
}

.navbar-img,
#mobileheader img {
    border-radius: 15px;
    transition: background-color 0.25s;
    transform: translateY(25%);
    width: 50px;
    height: 50px;
}

#navbar button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.outer {
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    margin: auto;
    padding: 12px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.inner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181a1b;
    color: white;
    border-radius: 10px;
    padding: 12px;
    width: 90%;
    height: fit-content;
}

.buttonarea button {
    background: none;
    color: inherit;
    border: none;
    padding: 12px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 100%;
    height: fit-content;
}

#mobileheader > * {
    transition: fadeIn 0.5s;
}

#locator {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    width: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

#locator::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -12.5px;
    transform: translateX(-50%);
    width: 20px;
    height: 5px;
    border-radius: 2px;
    background-color: #ed1c24;
}
